body {
    background: #000000;
    color: #ffffff;
}

a {
    background: #ffffff;
    color: #000000;
}


.new-item {
    background: #ffffff;
    color: #000000;
}

.location {
    background: #ffffff;
    color: #000000;
}

.space {
    background: #000000;
    color: #ffffff;
}

.container {
    background: #ffffff;
    color: #000000;
}

.item {
    background: #000000;
    color: #ffffff;
}
