body {
    background: #000000;
    color: #ffffff;
}

input {
    background: #000000;
    color: #ffffff;
}


.button {
    border-style: solid;
    border-color: #222222;
    background: #000000;
    text-decoration: none;
}

.new-item {
    background: #111111;
    color: #ffffff;
}

.location {
    background: #111111;
    color: #ffffff;
}

.space {
    background: #222222;
    color: #ffffff;
}

.container {
    background: #333333;
    color: #ffffff;
}

.item {
    background: #444444;
    color: #ffffff;
}
