body {
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    padding:3%;
}

a {
    text-decoration: underline;
    color: inherit;
}

.sectiontitle {
    text-decoration: none;
}

.button-container {
    text-align: right;
    width: 100%;
}

.button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin: 5px;
}

.title {
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 50px;
}

.subtitle {
    font-size: 30px;
}


.new-item {
    text-align: center;
    width: 80%;
    margin-left: 10%;
    padding:15px;
    border-radius:15px;
}

.location {
    border-radius:15px;
    padding: 1%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.space {
    border-radius:15px;
    padding: 1%;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 20px;
}

.container {
    border-radius:15px;
    padding: 1%;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 10px;
}

.item {
    border-radius:15px;
    padding: 0.5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5px;
}
